section {
  padding: 13vh 5vw;

  @media (min-width: 650px) {
    padding: 15vh 2vw;
  }
}

.converter__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4vh;

  @media (min-width: 650px) {
    gap: 10vh;
  }
}
